#edit-profile {
    background-color: #7e22ce;
    color: #f1ed2a;
    :is(button), .button{
        padding: 5px 15px;
        color: #7d49c2;
        background-color: #f1ed2a;
        border-color: #9382cc;
        border-radius: 4px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    }
}

#edit-profile #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 20px;
    gap: 20px;
    > .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    > .form-buttons {
        display: flex;
        justify-content: center;
    }
}

#form > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.user-label {
    display: flex;
    flex-direction: column;
}


.edit-profile .pub-or-priv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.pub-or-priv label {
    margin: 0 10px;
}

#edit-profile :is(textarea) {
    height: 5em;
    resize: none;
}

.err-msg {
    color: red;
    font-size: .8em;
}

#submit, #cancel {
    align-items: center;
    padding: 5px 10px;
    width: auto;
    height: auto;
}
