.profile-contain {
    display: flex;
    flex-direction: column;
    /* align-items: center; Center items horizontally */
    margin: 0;
    padding: 0;
}

#prof-info {
    display: flex;
    justify-content: center;
}

#prof-stuff, #artist-stuff {
    border: 3px solid black;
    width: fit-content;
    margin: 5px;
    padding: 5px;
}

.prof-piece, .artist-piece {
    font-size: larger;
    font-weight: bolder;
    margin-right: 10px;
    white-space: nowrap;
}

.prof-piece, .info, .artist-piece, .artist-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.info, .artist-info {
    font-size: small;
    white-space: nowrap;
    text-align: right;
}

.button-contain {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}
.profile-contain button, .songs-contain button {
    border-radius: 4px;
    color: #7d49c2;
    background-color: #f1ed2a;
    border-color: #9382cc;
}

#confirm-delete-modal {
    background-color: #7e22ce;
    color: #f1ed2a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.delete-selection {
    display: flex;
    justify-content: space-around;
    > :is(button), .button{
        padding: 5px 15px;
        color: #7d49c2;
        background-color: #f1ed2a;
        border-color: #9382cc;
        border-radius: 4px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    }
    > #delete-user {
        background-color: red;
        border-color: rgba(255, 0, 0, 0.3);
        color: black;
    }
}
