.song-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  > :is(textarea){
    resize: none;
    margin-bottom: 5px;
    height: 5em;
  }
  :is(button){
    background-color: #f1ed2a;
    border-color: #9382cc;
    border-radius: 5px;
    padding: 3px 8px;
    color: #7d49c2;
  }
}

.edit-buttons {
  display: flex;
  gap: 5px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  list-style: none;
  padding-left: 0;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width:thin;
  background-color: white;
  padding: 20px;
}

.comments-container {
  border: solid 1px #7d49c2;
  background-color: #cdc0a4;
  padding: 10px 15px;
  height: fit-content;

}

.comment {
  border: 2px solid #9382cc;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 7px 15px;
  width: fit-content;
}

.comment-header {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: .9em;
  .comment-user {
    font-weight: bold;
    color: #000000
  }
}

.comment-owner-buttons {
  display: flex;
  gap: 5px;
  > :is(span){
    font-size: .8em;
    text-decoration: underline;
    color: blue;
  }
}

.comment-owner-buttons {
  cursor: pointer;
}
