.signupModalWrapper {
    background-image: url('https://images.pexels.com/photos/1001850/pexels-photo-1001850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .overlay {
        padding: 20px;
        background-color: rgba(136, 146, 77, 0.664);
    }
}

.signupModalWrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d49c2;
    font-weight: bolder;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.signupForm :is(label) {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    width: 100%;
    color: #7d49c2;
    font-weight: bold;
    > :is(input), :is(textarea){
        width: 25rem;
        background-color: white;
        border: 2px solid rgba(0, 0, 0, 0.404);
        padding: 3px
    }
}

#isArtist {
    display: flex;
    flex-direction: row;
    align-items: center;
    > :is(input){
        width: 30px;
        box-shadow: none;
    }
}

.signupForm input:focus, textarea:focus {
    border-color: #f1ed2a;
    box-shadow: 0 0 5px #f1ee2a6b;
    outline: none;
}

.signupForm p {
    padding: 5px;
    font-size: .8em;
    color: red;
}

.signupModalButton {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    color: #7d49c2;
    border: 3px solid #7d49c2;
    background-color: #f1ed2a;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    width: 25rem;
}

.signupModalButton:disabled {
    background-color: lightgray;
    border: 3px solid #7e22ce59;
}

.signupModalButton:hover {
    cursor: pointer;
}

.errorMessage {
    color: red;
}
