/* TODO: Add sitewide styles */
* {
  margin: 0;
  text-decoration: none;
}

a {
  color: black
}

body {
  background-color: #d4d4d4;
  /* margin-bottom: 80px; */
}

.hidden {
  display: none
}

.page-container {
margin: 0px auto;
padding: 20px;
max-width: 1080px;
margin: 0 auto;
}

.h-breaker {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ac90cc;
}

.v-breaker {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #ac90cc;
}

button:hover {
  cursor: pointer;
}

.error-message, .err-msg {
  color: red;
}

#confirm-delete {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#delete-complete, #delete-cancel {
  display: flex;
  justify-content: center;
  margin: 5px;
}
