/* .profile-dropdown {
  position: absolute;
} */

.hidden {
  display: none;
}

#nav-logo {
  width: 100px;
}

#navbar-left {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

#navbar-right {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

#nav-links-contain {
  display: flex;
  align-items: center;
}

#create-spot-link {
  display: inline-block;
  margin-right: 20px;
}

#navlink-right {
  margin-right: 8px;
  text-decoration: none;
}

#navbar-full {
  display: flex;
  list-style-type: none;
  padding: 5px;
  border-bottom: 2px #f1ed2a solid;
  background-color:#6239ad;
  margin: 0%;
  justify-content: center;
}

#navbar-full > div {
  width: 100%;
  display: flex;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
}

.profile-dropdown {
  list-style-type: none;
  position: relative;
}

#popup {
  position: absolute;
  border: black solid 2px;
  border-radius: 5px;
  right: 0;
  top: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 247, 248);
  width: 100px;
}

#profile-popup {
  position: absolute;
  border: 2px solid #f1ed2a;
  border-radius: 5px;
  right: 0;
  top: 5px;
  min-width: 50px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: #6239ad;
  justify-content: center;
}

#profile-popup > .menu-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #f1ed2a;
  text-align: left;
  padding: 0;
  font-size: 0.9em;
  min-width: 150px;
  .credentials {
    display: flex;
    flex-direction: column;
  }
  :is(a) {
    color: #f1ed2a;
  }
}

#profile-popup button {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #f1ed2a;
  color: #6239ad;
}

#prof-but {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #f1ed2a;
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 1em;
  color: #6239ad;
}

#nav-link {
  text-decoration: none;
  cursor: pointer;
}

#prof-button {
  display: flex;
  align-items: center;
}

#prof-button>* {
  margin-right: 8px;
}

#profile-dropdown:hover, #logout:hover, #prof-but:hover, #popup>*:hover {
  cursor: pointer;
}

.profile-button{
  text-align: right;
}
